<div x-transition:enter.duration.500ms class="flex flex-col items-center justify-center h-full py-20 text-center">
    <div class="w-24 h-24 mb-6 opacity-20" :class="themes[currentTheme].text">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-width="1"
                d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.675.282a4 4 0 01-1.815.343l-1.464-.146a2 2 0 01-1.646-1.11L4.5 9.5m10 1l-5 5m5-5v-5m0 5h5" />
        </svg>
    </div>
    <h2 class="text-2xl font-black text-slate-800 dark:text-white uppercase tracking-tighter">Módulo en
        Construcción</h2>
    <p class="text-slate-400 max-w-xs mt-2">Estamos integrando los servicios de Node.js y Redis para
        esta sección.</p>
</div>